* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff4fd;
}

.about_container {
    width: 100%;
    padding: 50px 8%;
}

.about_container .about_contents {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
}

.about_contents .imagesection {
    position: relative;
    min-width: 300px;
    height: 380px;
}

.imagesection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.about_contents .imagesection::after {
    position: absolute;
    content:'';
    width: 100%;
    height: 100%;
    outline: 3px solid rgb(41, 41, 108);
    top: 15px;
    left: 15px;
    z-index: 1;
}

.infosection h1 {
    color: rgb(41, 41, 108);
    font-size: 30px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.infosection h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: black;
}

.infosection h1::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: rgb(41, 41, 108);
}

.infosection h2 {
    font-family:  Helvetica;
    font-size: 20px;
    font-weight: 600;
    color: rgb(41, 41, 108);
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.infosection p {
    color: black;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}

.personalinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.personalinfo div {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.personalinfo div span {
    color: #aaabb0;
    letter-spacing: 1px;
}

.infosection button {
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid rgb(41, 41, 108);
    border-radius: 25px;
    font-size: 18px;
    background-color: #2b2a2f;
    position: relative;
    left: 250px;
    top: 25px;
}

.infosection button a{
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
}

.button button a:hover {
    color: #787cb5;
    transition: all 0.4s ease-in-out;
    border-color: #aaabb0;
}

.button2 button a:hover {
    color: #787cb5;
    transition: all 0.4s ease-in-out;
    border-color: #aaabb0;
}

.button3 button a:hover {
    color: #787cb5;
    transition: all 0.4s ease-in-out;
    border-color: #aaabb0;
}

.tombol {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -250px;
}